{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/stick-footer.css' %}">
    <title>{% block title %} {% endblock %}</title>
</head>
<body>
<div class="container">
    <div class="jumbotron">
        <div class="row">
            <div class="col-8"></div>
            <div class="col-4">
                {% if user.is_authenticated %}
                    Olá, {{user}}! | <a class="btn btn-sm btn-dark" href="{% url 'logout' %}">Logout</a>
                {% else %}
                    <a class="btn btn-sm btn-info" href="{% url 'login' %}">Login</a>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
                {% block content %} {% endblock %}
            </div>
            <div class="col-2"></div>
        </div>
    </div>
</div>
<footer class="footer">
    <div class="container">
        <span class="text-muted">Desenvolvimento Web com Django 2.x</span>
    </div>

</footer>
</body>
</html>