{% extends 'base.html' %}

{% block content %}
    <h3>Lista de produtos</h3>
    <ul class="list-group">
        {% for product in products %}
        <li class="list-group-item">
            <a href="{% url 'product' product.id %}" class="pull-left">{{product.title}}</a>
            <a href="{% url 'delete_product' product.id %}" class="btn btn-danger btn-sm pull-right"><i class="fa fa-trash"></i></a><span class="pull-right" style="margin: 0px 5px;">|</span>
            <a href="{% url 'edit_product' product.id %}" class="btn btn-primary btn-sm pull-right"><i class="fa fa-pencil"></i></a>
        </li>
        {% endfor %}
    </ul>
    <br/>
    <a href="{% url 'new_product' %}" class="btn btn-info">Novo produto</a>
{% endblock %}